@model IEnumerable<ReviewCounter.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h2>時間追加レビュー選択</h2>
<div style="color:red;">@TempData["message"]</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Output.ProcessOutput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Output.ProcessOutput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.ReviewId">追加</a>
            </td>
        </tr>
}
    </tbody>
</table>
